<app-main-menu></app-main-menu>
<form [formGroup]="loginForm">
  <div fxLayout="column" fxLayoutAlign="center center" class="pt-8">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input type="email" matInput
            placeholder="Ex. pat@example.com" formControlName="email">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Senha</mat-label>
      <input type="senha" matInput
            placeholder="*******" formControlName="password">
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="loginForm.invalid" (click)="logar()">Entrar</button>
  </div>
</form>
