<div fxLayout="row" fxLayoutAlign="center center">
    <mat-icon>
        account_balance
    </mat-icon>
    <h1>Transações</h1>
</div>
<div fxLayout="row" fxLayoutAlign="end center" class="mr-4">
    <button mat-raised-button color="primary" [routerLink]="'/transacao/cadastra-transacao'">Cadastrar</button>
</div>
<mat-list *ngFor="let transacao of transacoes">
    <mat-list-item>{{transacao.descricao}} - {{transacao.valor}}</mat-list-item>
    <mat-divider></mat-divider>
</mat-list>
<mat-list *ngFor="let tipo of tiposTransacao">
    <mat-list-item>{{tipo.nome}}</mat-list-item>
</mat-list>